/* policy pages style */

.policy_header {
    background: #F5F5F5;
}

.policy_header.who_we_are {
    padding: 150px 0px;
}

.policy_header .service_about {
    max-width: 80%;
    margin: 0 auto;
}

.policy_box {
    margin-bottom: 80px;
}

.policy_content .container .policy_box:last-child {
    margin-bottom: 0px;
}

.policy_box h2 {
    margin-bottom: 40px;
    text-transform: capitalize;
    font-family: "RivieraNights-Regular";
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 30px;
}

.policy_box p {
    margin-top: 30px;
    font-size: 16px;
    max-width: 80%;
}

.policy_box ul {
    padding-left: 25px;
}

.policy_box ul li {
    margin-top: 20px;
    font-size: 16px;
    max-width: 80%;
    list-style: disc;
}








/* ============ responsive ============ */


@media only screen and (min-width: 1680px) {
    .policy_header .service_about {
        max-width: 1237px;
    }

    .policy_box {
        margin-bottom: 100px;
    }

    .policy_box p {
        margin-top: 30px;
        max-width: 1200px;
    }

    .policy_box p,
    .policy_box ul li {
        font-size: 17px;
    }


}

@media only screen and (max-width: 1199px) {
    .policy_box p {
        max-width: 90%;
    }
}

@media only screen and (max-width: 991px) {
    .policy_box p {
        max-width: 100%;
    }

    .policy_box h2 {
        margin-bottom: 30px;
        padding-bottom: 26px;
    }

    .policy_header .service_about {
        max-width: 100%;
    }

    .policy_box {
        margin-bottom: 60px;
    }

}

@media only screen and (max-width: 575px) {
    .policy_box p {
        margin-top: 20px;
    }

    .policy_box h2 {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .policy_box {
        margin-bottom: 40px;
    }
}