/* product page css */

.service_about p {
    max-width: 875px;
    margin-left: auto;
    margin-right: auto;
}

.product_project h2.f_56 {
    margin-bottom: 50px;
}

.project_product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
    column-gap: 25px;
}


/* =========== divider-section start =========== */

.dividers-banner {
    position: sticky;
    top: 0px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: auto;
    height: auto;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    /* paralex */
    background-attachment: fixed;
    flex-wrap: wrap;
}


.glass-card {
    max-width: 523px;
    background: #000;
    border-radius: 12px;
    /* position: fixed; */
}

.card_body {
    padding: 40px 40px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9A9A92;
    padding: 0px 40px;
    height: 70px;
}

.card-header h2 {
    font-size: 22px;
    font-family: "RivieraNights-Regular";
    color: #fff;
}

.slide-count,
.description {
    font-size: 17px;
    font-family: "RivieraNights-Light";
    color: #fff;
}

.discover-link {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: "RivieraNights-Regular";
    padding-bottom: 2px;
    margin-top: 40px;
}

.discover-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.options {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 420px;
}

.options span {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0px 16px;
    font-family: "RivieraNights-Regular";
    font-size: 18px;
    height: 35px;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
}

.options span:hover {
    background: transparent;
    color: #fff;
}


/* =========== divider-section end =========== */













/* ============ responsive ============ */

@media only screen and (min-width: 1680px) {

    .dividers-banner {
        height: 100vh;
        min-height: 1070px;
    }

    .discover-link {
        font-size: 17px;
    }

    .options span {
        font-size: 20px;
    }

}

@media only screen and (max-width: 1365px) {

    .dividers-banner {
        position: relative;
        padding: 150px 0px;
    }

    .options span {
        font-size: 16px;
    }
}


@media only screen and (max-width: 991px) {

    .project_product_grid {
        row-gap: 60px;
    }

    .dividers-banner {
        position: relative;
        padding: 80px 0px;
    }

    .project_product_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .first_related_dark_grid{ width: 100%;}
    .related_dark_grid{ display: flex; flex-wrap: wrap  ;}

    .related_dark_col:not(.first_related_dark_grid){    width: 30%;}
}








@media only screen and (max-width: 575px) {

    .project_product_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .project_product_grid {
        row-gap: 40px;
    }

    .project_product_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-header h2 {
        font-size: 18px;
    }

    .card-header {
        padding: 0px 25px;
    }

    .card_body {
        padding: 30px 25px;
    }

    .options span {
        font-size: 14px;
        height: 31px;
        padding: 0px 13px;
    }

    .discover-link {
        font-size: 14px;
    }

    .options {
        margin-top: 40px;
    }
	
.product_project h2.f_56 {
    margin-bottom: 50px;
}

.related_dark_col:not(.first_related_dark_grid){    width: 100%;}      
}